.page.theme_dark {
  --title-bg-color: #ff0070;
  --main-title-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --page-background-color: #000028;
  --page-background-image: url(../images/cover-image-dark.png);
  --title-color: #000028;
  --button-color: var(--accent-color, #ff0070);
  --border-color: var(--button-color, #ff0070);
  --rec-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-bg-color: #ff0070;
    --main-title-color: #db00ff;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --page-background-color: #000028;
    --page-background-image: url(../images/cover-image-dark.png);
    --title-color: #000028;
    --button-color: var(--accent-color, #ff0070);
    --border-color: var(--button-color, #ff0070);
    --rec-visibility: visible;
  }
}
