/* .page.theme_dark {
  --page-background-color: #000028;
  --title-bg-color: #ff0070;
  --main-title-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --page-background-image: url(../images/cover-image-dark.png);
  --title-color: #000028;
  --button-color: var(--accent-color, #ff0070);
  --border-color: #ff0070;
  --border-color-o40: rgb(255 0 112 / 0.4);
  --rec-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background-color: #000028;
    --title-bg-color: #ff0070;
    --main-title-color: #db00ff;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --page-background-image: url(../images/cover-image-dark.png);
    --title-color: #000028;
    --button-color: var(--accent-color, #ff0070);
    --border-color: #ff0070;
    --border-color-o40: rgb(255 0 112 / 0.4);
    --rec-visibility: visible;
  }
} */

.page.theme_dark {
  --text-color: var(--color-pink-2, #f1b2ce);
  --brand-color: var(--color-purple-1, #db00ff);
  --secondary-color: var(--color-purple-2, #ff0070);
  --secondary-color-o-40: var(--color-purple-2-o-40, #ff007040);
  --accent-color: var(--color-purple-2, #ff0070);
  --highlight-color: var(--color-black-1, #000028);

  --page-background-color: var(--color-black-1, #000028);
  --page-background-image: url("../images/cover-image-dark.png");

  --rec-decor-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--color-pink-2, #f1b2ce);
    --brand-color: var(--color-purple-1, #db00ff);
    --secondary-color: var(--color-purple-2, #ff0070);
    --secondary-color-o-40: var(--color-purple-2-o-40, #ff007040);
    --accent-color: var(--color-purple-2, #ff0070);
    --highlight-color: var(--color-black-1, #000028);

    --page-background-color: var(--color-black-1, #000028);
    --page-background-image: url("../images/cover-image-dark.png");

    --rec-decor-visibility: visible;
  }
}