:root {
  --title-bg-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --main-font: IBM Plex Mono;
  --font-size: 18px;
  --text-color: #353430;
  --accent-color: #ff0070;
  --page-background-color: #fff1f7;
  --page-background-image: url(../images/cover-image-light.png);
  --title-color: var(--text-color, #353430);
  --button-color: var(--text-color, #353430);
  --border-color: var(--text-color, #353430);
  --rec-visibility: hidden;
}
